.info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex; /* flexbox layout */
  flex-direction: row; /* horizontal layout */
  justify-content: center;
  align-items: center;
  height: 70vh;
  width: 75%;
}

.info-left {
  width: 33%; /* take up 50% of the container width */
  margin: 10%; /* add some padding for spacing */
  margin-right: 0%;
}

.info-right {
  width: 66%; /* take up 50% of the container width */
  margin: 10%; /* add some padding for spacing */
}